body{
    font-family:Arial, sans-serif;
    padding:20px;
    background:#f5f5f5;
}

h1{
    margin-bottom:20px;
}

.formulario{
    background:white;
    padding:20px;
    border-radius:10px;
    margin-bottom:20px;
}

input{
    width:100%;
    padding:10px;
    margin-bottom:10px;
    box-sizing:border-box;
}

button{
    padding:10px 15px;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

#btnGuardar{
    background:#4caf50;
    color:white;
}

.producto{
    background:white;
    padding:15px;
    margin-bottom:15px;
    border-radius:10px;
}

.producto p{
    margin:5px 0;
}

.activo{
    color:green;
    font-weight:bold;
}

.inactivo{
    color:red;
    font-weight:bold;
}

.btnDesactivar{
    background:#f44336;
    color:white;
}

.btnActivar{
    background:#2196f3;
    color:white;
}
