/*==================================
    SPLASH LOADER
===================================*/

.splash{

    position:fixed;
    inset:0;

    background:linear-gradient(
        135deg,
        #ffe4ef,
        #fff7ec
    );

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    z-index:999999;

    transition:.6s;

}

.splash.oculto{

    opacity:0;
    visibility:hidden;

}

/* CONTENEDOR */

.loader-postre{

    position:relative;

    width:170px;
    height:170px;

    display:flex;
    justify-content:center;
    align-items:center;

}

/* ARO GIRATORIO */

.loader-ring{

    position:absolute;

    width:150px;
    height:150px;

    border-radius:50%;

    border:7px solid #ffd5e5;

    border-top:7px solid #ec4899;

    border-right:7px solid #f59e0b;

    animation:girar 1s linear infinite;

}

/* CUPCAKE */

.loader-cupcake{

    width:90px;

    animation:flotar 1.5s ease-in-out infinite;

}

/* TITULO */

.splash h2{

    margin-top:30px;

    color:#db2777;

    font-size:38px;

}

/* TEXTO */

.splash p{

    margin-top:10px;

    color:#555;

    font-size:18px;

}

/* PUNTITOS */

.loading-dots{

    margin-top:18px;

    display:flex;

    gap:8px;

}

.loading-dots span{

    width:12px;
    height:12px;

    border-radius:50%;

    background:#db2777;

    animation:dot 1s infinite;

}

.loading-dots span:nth-child(2){

    animation-delay:.2s;

}

.loading-dots span:nth-child(3){

    animation-delay:.4s;

}

/*=========================
    ANIMACIONES
==========================*/

@keyframes girar{

    from{

        transform:rotate(0deg);

    }

    to{

        transform:rotate(360deg);

    }

}

@keyframes flotar{

    0%,100%{

        transform:translateY(0);

    }

    50%{

        transform:translateY(-8px);

    }

}

@keyframes dot{

    0%,100%{

        opacity:.2;

        transform:scale(.8);

    }

    50%{

        opacity:1;

        transform:scale(1.2);

    }

}
