/*=============================
  TOAST
=============================*/

.toast-exito{

    position:fixed;

    top:25px;
    right:25px;

    width:360px;

    background:#fff;

    border-radius:18px;

    box-shadow:
        0 18px 40px rgba(0,0,0,.18);

    display:flex;

    align-items:center;

    gap:18px;

    padding:22px;

    z-index:99999;

    transform:translateX(450px);

    opacity:0;

    transition:.45s;

    overflow:hidden;

}

.toast-exito.activo{

    transform:translateX(0);

    opacity:1;

}

.toast-icono{

    width:62px;
    height:62px;

    border-radius:50%;

    background:#22c55e;

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:34px;

    font-weight:bold;

    flex-shrink:0;

}

.toast-contenido h3{

    margin:0;

    color:#111827;

    font-size:22px;

}

.toast-contenido p{

    margin-top:5px;

    color:#6b7280;

}

.toast-barra{

    position:absolute;

    left:0;
    bottom:0;

    height:5px;

    width:100%;

    background:#22c55e;

    animation:progresoToast 3.5s linear forwards;

}

@keyframes progresoToast{

    from{

        width:100%;

    }

    to{

        width:0;

    }

}
